<div class="row">
  <b>Aktueller Schritt zur Transformation</b>

  <p><%= @user.current_step.description %></p>

</div>


<div class="row status">
  <b>Status</b>
  <br/>
  <%= render partial: 'state', object: {current: @user.current_state, goal: @user.current_step.goal_state} %>
</div>


