<% current = state[:current] %>
<% goal = state[:goal] %>

<table>
  <% ['spread', 'establ','build', 'happy','time', 'transformers'].each do |key| %>
    <tr><td>
      <%= image_tag "icons/#{key}.png" %>
    </td><td>
      <% p = (current.send(key.to_sym).to_f/goal.send(key.to_sym)*100).to_i %>
      <% color = (p <= 20 ? (p <= 0 ? 'red' : 'orange') : 'green') %>
      <div class="progress">
        <span class="<%= color %>" style="width: <%= [100,p].min %>%;">
          <span><%= p %>%</span>
        </span>
      </div>
    </td></tr>
  <% end %>
</table>


