<p id="notice"><%= notice %></p>

<h1>Wege zur Transformation</h1>

<%= render partial: 'game_state' %>

<h2>Wähle eine mögliche Aktion</h2>

<% @moves.each do |move| %>
  <p>
    <%= render partial: 'move', object: move %><br/>
    <%= link_to 'los!', game_move_path(@user, move), method: :put %>
  </p>
<% end %>
